<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
        [style.background]="tile.color">
        {{tile.text}}
    </mat-grid-tile>
</mat-grid-list> -->
<div class="container">
    <mat-grid-list cols="10" rowsp>
        <mat-grid-tile colspan="4" rowspan="3">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>{{companyDeatil.name}}</mat-card-title>
                    <mat-card-subtitle>{{companyDeatil.location}}</mat-card-subtitle>
                </mat-card-title-group>
                <mat-card-actions>
                    <button mat-button>
                        <mat-icon>call</mat-icon> {{companyDeatil.phone}}
                    </button>
                    <button mat-button>
                        <mat-icon>business</mat-icon> {{companyDeatil.domain}}
                    </button>
                    <button mat-button>
                        <mat-icon>perm_identity</mat-icon> {{companyDeatil.size}}
                    </button>
                </mat-card-actions>
                <mat-card-actions>
                    <button *ngIf="companyDeatil.is_active; else elseBlock" mat-icon-button color="accent"
                        aria-label="Example icon-button with a heart icon">
                        <mat-icon color="primary">radio_button_checked</mat-icon>
                    </button>
                    <ng-template #elseBlock>
                        <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
                            <mat-icon color="warn">radio_button_checked</mat-icon>
                        </button>
                    </ng-template>
                    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="delete(companyDeatil._id)"
                        aria-label="Example icon-button with a heart icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="1">

        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="1">
            <a routerLink="/company/posts"><button mat-raised-button color="primary">Created Jobs</button></a>
            <a routerLink="/company/add-post"><button mat-raised-button color="warn">Add New Job</button></a>
        </mat-grid-tile>

    </mat-grid-list>
</div>