<h1 *ngIf="data === 'no users has applied'; else dataFound"> No Candidate Applied for This Position.</h1>
<ng-template #dataFound>

    <mat-card>
        <mat-card-title-group>
            <mat-card-title>{{ data.job.name }}</mat-card-title>
            <mat-card-subtitle align="right">{{ data.job.work_type }}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-actions>
            <button mat-button>
                <mat-icon color="primaryw">attach_money</mat-icon> {{ data.job.salary }}
            </button>
            <button mat-button>
                <mat-icon color="primaryw">access_time</mat-icon> {{ data.job.experience }} years
            </button>
        </mat-card-actions>

    </mat-card>
    <table border="1px">

        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr *ngFor="let item of data.user_array">
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
        </tr>

    </table>
</ng-template>