<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a routerLink="/" id="header-title"><span>Software Jobs</span></a>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" class="tabs">Company</button>
        <button mat-raised-button color="primary" class="tabs">Users</button>
        <button mat-button color="warn" class="tabs">maheshgaikwad@gmail.com</button>
        <button mat-raised-button color="primary" class="tabs">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>