<div class="container">
    <!-- <h2>refiose</h2> -->
    <div class="block">
        <h2 class="title">Login</h2>

        <form #userLogin="ngForm" (ngSubmit)="getLoginData(userLogin.value)">
            <mat-form-field appearance="fill" class="re-form">
                <mat-label>Enter your email</mat-label>
                <input matInput ngModel name="email" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="re-form">
                <mat-label>Enter your Passowrd</mat-label>
                <input matInput ngModel name="password" type="password" required>
            </mat-form-field>
            <div class="button-div">
                <a routerLink="/company/register"><button mat-button color="primary">Not have an account..
                        <strong>Register</strong></button></a>
                <button mat-raised-button color="accent" (click)="getLoginData">Submit</button>
            </div>
        </form>
    </div>
</div>